<!--header-->
<section class="w3l-header">
    <header id="site-header" class="">
        <section class="w3l-top-header py-3">
            <div class="container">
                <div class="d-grid main-top">
                    <div class="top-header-left">
                        <ul class="info-top-gridshny">
                            <li class="info-grid">
                                <div class="info-icon"><span class="fa fa-clock-o"></span></div>
                                <div class="info-text">
                                    <p>Monday - Friday 08:00 - 20:00</p>
                                    <p>Saturday and Sunday - CLOSED</p>
                                </div>
                            </li>
                            <li class="info-grid">
                                <div class="info-icon"><span class="fa fa-mobile"></span></div>
                                <div class="info-text">
                                    <p>+ 0800 2466 7921</p>
                                    <p>+ 0800 2466 7922</p>
                                </div>
                            </li>
                            <li class="info-grid">
                                <div class="info-icon"><span class="fa fa-map-marker"></span></div>
                                <div class="info-text">
                                    <p>34th Avenue</p>
                                    <p>New York, S2 Honey Block</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="top-header-right text-lg-right">
                        <ul>
                            <li>
                                <a href="#facebook"><span class="fa fa-facebook"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fa fa-twitter"></span></a>
                            </li>
                            <li><a href="#instagram" class="instagram mr-0"><span class="fa fa-instagram"></span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="header-2hny py-3">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark stroke">
                    <h1>
                        <a class="navbar-brand mr-xl-5" href="~/home">
                            <span class="fa fa-heartbeat mr-1"></span>Preventive
                        </a>
                    </h1>
                    <!-- if logo is image enable this
                    <a class="navbar-brand" href="#home">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mx-lg-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="~/home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/home/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/home/contact">Contact</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            <li class="nav-item">
                                <a href="#loginModal" class="free-con btn btn-style btn-secondary d-block"
                                   data-toggle="modal" data-target="#loginModal">Login</a>

                                <!-- //Login modal-popup-->
                                <div class="selectpackage">
                                    <div class="modal fade" id="loginModal" tabhome="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        Login
                                                    </h4>
                                                </div>
                                                <div class="modal-body packages">
                                                    <div class="appointment-form">
                                                        <form id="loginform" novalidate="novalidate" method="post">
                                                            <div class="styled-input">
                                                                <div class="appointment-form-field">
                                                                    <input type="text" id="loginid" name="loginid" placeholder="Login Id" required="">
                                                                </div>
                                                            </div>
                                                            <div class="styled-input">
                                                                <div class="appointment-form-field">
                                                                    <input type="password" id="password" name="password" placeholder="Password" required="">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12"><p style="color:#ef0f44;text-align:center" id="msg"></p></div>
                                                            <div class="appointment-btn text-lg-right">
                                                                <button id="loginsubmit" type="submit" class="btn btn-style btn-primary mt-4">Login In</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //modal-popup-->

                            </li>

                            <li class="nav-item">
                                <a href="#AppointmentModal" class="free-con btn btn-style btn-secondary d-block"
                                   data-toggle="modal" data-target="#AppointmentModal">Free Appointment</a>

                                <!-- //modal-popup-->
                                <div class="selectpackage">
                                    <div class="modal fade" id="AppointmentModal" tabhome="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        Make An Appointment
                                                    </h4>
                                                </div>
                                                <div class="modal-body packages">
                                                    <div class="appointment-form">
                                                        <form id="PatientAppointform" novalidate="novalidate" method="post">
                                                            <div class="fields-grid">
                                                                <div class="styled-input">
                                                                    <div class="appointment-form-field">
                                                                        <input type="text" id="name" name="name" placeholder="Full Name" required="" />
                                                                    </div>
                                                                </div>
                                                                <div class="styled-input">
                                                                    <div class="appointment-form-field">
                                                                        <input type="text" id="age" name="age" placeholder="Enter Your Age" required="" />
                                                                    </div>
                                                                </div>
                                                                <div class="styled-input">
                                                                    <div class="appointment-form-field">
                                                                        <input type="text" id="contactnumber" name="contactnumber" placeholder="Enter Number" required="" />
                                                                    </div>
                                                                </div>
                                                                <div class="styled-input">
                                                                    <div class="appointment-form-field">
                                                                        <input type="email" id="email" name="email" placeholder="Enter email id" />
                                                                    </div>
                                                                </div>
                                                                <div class="styled-input">
                                                                    <div class="appointment-form-field">
                                                                        <input type="date" id="appointmentdate" name="appointmentdate" placeholder="Set a Date" required="" />
                                                                    </div>
                                                                </div>
                                                                <div class="styled-input">
                                                                    <div class="appointment-form-field">
                                                                        <select name="appointmenttime" id="appointmenttime" required="">
                                                                            <option value="">Select Time</option>
                                                                            <option value="00:00">12.00 AM</option>
                                                                            <option value="00:30">12.30 AM</option>
                                                                            <option value="01:00">01.00 AM</option>
                                                                            <option value="01:30">01.30 AM</option>
                                                                            <option value="02:00">02.00 AM</option>
                                                                            <option value="02:30">02.30 AM</option>
                                                                            <option value="03:00">03.00 AM</option>
                                                                            <option value="03:30">03.30 AM</option>
                                                                            <option value="04:00">04.00 AM</option>
                                                                            <option value="04:30">04.30 AM</option>
                                                                            <option value="05:00">05.00 AM</option>
                                                                            <option value="05:30">05.30 AM</option>
                                                                            <option value="06:00">06.00 AM</option>
                                                                            <option value="06:30">06.30 AM</option>
                                                                            <option value="07:00">07.00 AM</option>
                                                                            <option value="07:30">07.30 AM</option>
                                                                            <option value="08:00">08.00 AM</option>
                                                                            <option value="08:30">08.30 AM</option>
                                                                            <option value="09:00">09.00 AM</option>
                                                                            <option value="09:30">09.30 AM</option>
                                                                            <option value="10:00">10.00 AM</option>
                                                                            <option value="10:30">10.30 AM</option>
                                                                            <option value="11:00">11.00 AM</option>
                                                                            <option value="11:30">11.30 AM</option>
                                                                            <option value="12:00">12.00 PM</option>
                                                                            <option value="12:30">12.30 PM</option>
                                                                            <option value="13:00">01.00 PM</option>
                                                                            <option value="13:30">01.30 PM</option>
                                                                            <option value="14:00">02.00 PM</option>
                                                                            <option value="14:30">02.30 PM</option>
                                                                            <option value="15:00">03.00 PM</option>
                                                                            <option value="15:30">03.30 PM</option>
                                                                            <option value="16:00">04.00 PM</option>
                                                                            <option value="16:30">04.30 PM</option>
                                                                            <option value="17:00">05.00 PM</option>
                                                                            <option value="17:30">05.30 PM</option>
                                                                            <option value="18:00">06.00 PM</option>
                                                                            <option value="18:30">06.30 PM</option>
                                                                            @*<option value="19:00" selected="">07.00 PM</option>
                                                                                <option value="19:30">07.30 PM</option>
                                                                                <option value="20:00">08.00 PM</option>
                                                                                <option value="20:30">08.30 PM</option>
                                                                                <option value="21:00">09.00 PM</option>
                                                                                <option value="21:30">09.30 PM</option>
                                                                                <option value="22:00">10.00 PM</option>
                                                                                <option value="22:30">10.30 PM</option>
                                                                                <option value="23:00">11.00 PM</option>
                                                                                <option value="23:30">11.30 PM</option>*@
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="styled-input">
                                                                    <div class="appointment-form-field">
                                                                        <textarea name="address" id="Address" rows="4" cols="20" class="form-control" placeholder="Enter Address"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="styled-input">
                                                                    <div class="appointment-form-field">
                                                                        <textarea name="description" id="description" rows="4" cols="20" class="form-control" placeholder="Enter Patient Description"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12"><p style="color:#ef0f44;text-align:center" id="appointmentstatusmsg"></p></div>
                                                            <div class="appointment-btn text-lg-right">
                                                                <button id="SubmitAppointment" type="submit" class="btn btn-style btn-primary mt-4">Book Appointment</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //modal-popup-->

                            </li>
                        </ul>

                        <!-- //toggle switch for light and dark theme -->
                        <!-- search popup -->
                        <div id="search" class="pop-overlay">
                            <div class="popup">
                                <form action="#" method="GET" class="d-sm-flex">
                                    <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                                    <button type="submit">Search</button>
                                    <a class="close" href="#url">&times;</a>
                                </form>
                            </div>
                        </div>
                        <!-- /search popup -->
                    </div>
                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox">
                                    <div class="mode-container py-1">
                                        <i class="gg-sun"></i>
                                        <i class="gg-moon"></i>
                                    </div>
                                </label>
                            </div>
                        </nav>
                    </div>
                    <!-- //toggle switch for light and dark theme -->
                </nav>
            </div>
        </div>
    </header>
    <!--/header-->
</section>
