<div class="blank-page">
    @using (Html.BeginForm("manageopdappointment", "admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "manage-opd-appointment" }))
    {
        <div class="col-lg-12"><p style="color:#ef0f44;text-align:center">@ViewBag.Msg</p></div>
        <div class="clearfix"></div>
        <input type="hidden" name="OPDId" id="OPDId" value="0" />
        <input type="hidden" name="AppointmentId" id="AppointmentId" value="0" />
        <input type="hidden" name="AppointmentNumber" id="AppointmentNumber" value="0" />
        <div class="col-md-4 form-group">
            <input type="text" id="name" name="name" class="form-control" placeholder="Full Name" required="" />
        </div>
        <div class="col-md-4 form-group">
            <input type="text" id="age" name="age" class="form-control" placeholder="Enter Your Age" required="" />
        </div>
        <div class="col-md-4 form-group">
            <input type="text" id="contactnumber" class="form-control" name="contactnumber" placeholder="Enter Number" required="" />
        </div>
        <div class="col-md-4 form-group">
            <input type="email" id="email" class="form-control" name="email" placeholder="Enter email id" />
        </div>
        <div class="col-md-4 form-group">
            <input type="date" id="appointmentdate" class="form-control" name="appointmentdate" placeholder="Set a Date" required="" />
        </div>
        <div class="col-md-2 form-group">
            <select name="appointmenttime" id="appointmenttime" class="form-control" required="">
                <option value="">Select Time</option>
                <option value="00:00">12.00 AM</option>
                <option value="00:30">12.30 AM</option>
                <option value="01:00">01.00 AM</option>
                <option value="01:30">01.30 AM</option>
                <option value="02:00">02.00 AM</option>
                <option value="02:30">02.30 AM</option>
                <option value="03:00">03.00 AM</option>
                <option value="03:30">03.30 AM</option>
                <option value="04:00">04.00 AM</option>
                <option value="04:30">04.30 AM</option>
                <option value="05:00">05.00 AM</option>
                <option value="05:30">05.30 AM</option>
                <option value="06:00">06.00 AM</option>
                <option value="06:30">06.30 AM</option>
                <option value="07:00">07.00 AM</option>
                <option value="07:30">07.30 AM</option>
                <option value="08:00">08.00 AM</option>
                <option value="08:30">08.30 AM</option>
                <option value="09:00">09.00 AM</option>
                <option value="09:30">09.30 AM</option>
                <option value="10:00">10.00 AM</option>
                <option value="10:30">10.30 AM</option>
                <option value="11:00">11.00 AM</option>
                <option value="11:30">11.30 AM</option>
                <option value="12:00">12.00 PM</option>
                <option value="12:30">12.30 PM</option>
                <option value="13:00">01.00 PM</option>
                <option value="13:30">01.30 PM</option>
                <option value="14:00">02.00 PM</option>
                <option value="14:30">02.30 PM</option>
                <option value="15:00">03.00 PM</option>
                <option value="15:30">03.30 PM</option>
                <option value="16:00">04.00 PM</option>
                <option value="16:30">04.30 PM</option>
                <option value="17:00">05.00 PM</option>
                <option value="17:30">05.30 PM</option>
                <option value="18:00">06.00 PM</option>
                <option value="18:30">06.30 PM</option>
            </select>
        </div>
        <div class="col-md-2 form-group">
            <input type="text" id="opdcharge" name="opdcharge" class="form-control" placeholder="Enter charge" />
        </div>
        <div class="col-md-6 form-group">
            <textarea name="address" id="Address" class="form-control" rows="4" cols="20" placeholder="Enter Address"></textarea>
        </div>
        <div class="col-md-6 form-group">
            <textarea name="description" id="description" class="form-control" rows="4" cols="20" placeholder="Enter Patient Description"></textarea>
        </div>
        <div class="col-md-12 form-group">
            <br />
            <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-primary float-right">Submit</button>
        </div>
    }
</div>

