@{
    Layout = "~/Views/Shared/Home/_Layout.cshtml";
}

<!--/w3l-breadcrumb-->
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container">
            <h2 class="title">Choose Confidently</h2>
            <ul class="breadcrumbs-custom-path mt-3 text-center">
                <li><a href="index.html">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About us </li>
            </ul>
        </div>
    </div>
</section>
<!--//w3l-breadcrumb-->
<!--/about-->
<!--/w3l-ab-->
<div class="w3l-cwp4-sec py-5">
    <div class="container py-md-5 py-3">
        <div class="cwp4-two align-items-center">
            <div class="abouthyn-inn text-center">
                <h6 class="sub-titlehny">Here & Now, Every Day</h6>
                <h3 class="hny-title">Healing experiences- for everyone, all the time</h3>
                <div class="separatorhny"></div>
                <p class="ab-para">
                    Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt
                    ut labore et
                    dolore magna aliqua. Ut enim ad
                    minim veniam,Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
                    dolor sit amet.
                </p>

                <div class="buttons mt-5">
                    <a href="services.html" class="btn btn-style btn-primary">Read More</a>

                </div>
            </div>

        </div>
    </div>
</div>
<!--/w3l-ab-->
<!--/w3l-ab-features-->
<section class="w3l-ab-features py-5">
    <div class="container py-md-5 py-3">
        <div class="row features-w3pvt-main align-items-center" id="features">
            <div class="col-lg-6 feature-gird pb-lg-5">
                <h6 class="sub-titlehny mb-2">What We Do</h6>
                <h3 class="hny-title mb-4">We are always Health Give of best service</h3>
                <div class="separatorhny"></div>
                <p class="pr-lg-5">
                    Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Non quae, fugiat consequatur voluptatem nihil ad. Lorem ipsum dolor sit amet.
                </p>
                <div class="buttons mt-5">
                    <a href="services.html" class="btn btn-style btn-primary">Read More</a>
                </div>
            </div>
            <div class="col-lg-6 feature-gird pr-lg-5 mt-md-0 mt-4 pb-lg-5">
                <img src="~/assets/home/images/5.jpg" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-6 feature-gird mt-5">
                <img src="~/assets/home/images/3.jpg" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-6 feature-gird mt-5 pl-lg-5">
                <h6 class="sub-titlehny mb-2">What We Offer</h6>
                <h3 class="hny-title mb-4">The Best Medics, Doctors & Physicians</h3>
                <div class="separatorhny"></div>
                <p class="pr-lg-5">
                    Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.
                </p>
                <div class="buttons mt-5">
                    <a href="services.html" class="btn btn-style btn-primary">Read More</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--//-->
<!--/w3l-faq-block-->
<div class="w3l-faq-block py-5" id="faq">
    <div class="container py-md-5">
        <div class="row w3l-faq">
            <div class="faq-page col-lg-6 mb-lg-0 mb-4">
                <div class="text-left mb-4">
                    <h6 class="sub-titlehny">
                        FaQs
                    </h6>
                    <h3 class="hny-title">
                        We Are Always Health Give Of Best Service
                    </h3>
                    <div class="separatorhny"></div>
                </div>
                <ul>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h4>Tempore Adipisicing elit</h4>
                        <p>
                            Sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                            laboriosam nihil debitis animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                            voluptates eveniet, incidunt officiis eaque iste minima autem.
                        </p>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h4>Consectetur adipisicing elit</h4>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                            laboriosam nihil quasi fuga, ad corrupti libero omnis sapiente
                            non assumenda excepturi aperiam animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                            voluptates eveniet, incidunt officiis eaque iste minima autem.
                        </p>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h4>Lorem ipsum dolor elit</h4>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                            laboriosam nihil debitis facere voluptatibus consectetur quae quasi fuga, ad corrupti libero omnis
                            sapiente
                            non assumenda excepturi aperiam iste minima autem.
                        </p>
                    </li>

                </ul>
            </div>
            <div class="faq-img-right col-lg-6 pl-lg-5">
                <img src="~/assets/home/images/2.jpg" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<!--//w3l-faq-block-->
<!--/team-sec-->
<section class="w3l-team py-5" id="team">
    <div class="container py-lg-4 py-sm-3">
        <div class="header-sec text-center">
            <h6 class="sub-titlehny text-center">Best Doctors</h6>
            <h3 class="hny-title text-center">Our Doctors</h3>
            <div class="separatorhny"></div>

        </div>
        <div class="row text-center mt-5">
            <div class="col-md-3 col-6">
                <div class="team-grids text-center">
                    <img src="~/assets/home/images/team1.jpg" class="img-fluid" alt="">
                    <div class="team-info">
                        <div class="caption">
                            <div class="social-icons-section text-center">
                                <a class="fac" href="#url">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a class="twitter" href="#url">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h4><a href="#team">John Doe</a></h4>
                <h5>Doctor</h5>
            </div>
            <div class="col-md-3 col-6">
                <div class="team-grids text-center">
                    <img src="~/assets/home/images/team2.jpg" class="img-fluid" alt="">
                    <div class="team-info">
                        <div class="caption">
                            <div class="social-icons-section text-center">
                                <a class="fac" href="#url">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a class="twitter" href="#url">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h4><a href="#team">Alexander</a></h4>
                <h5>Doctor</h5>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-sm-5 mt-5">
                <div class="team-grids text-center">
                    <img src="~/assets/home/images/team3.jpg" class="img-fluid" alt="">
                    <div class="team-info">
                        <div class="caption">
                            <div class="social-icons-section text-center">
                                <a class="fac" href="#url">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a class="twitter" href="#url">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h4><a href="#team">Martin ker</a> </h4>
                <h5>Doctor</h5>
            </div>
            <div class="col-md-3 col-6 mt-md-0 mt-sm-5 mt-5">
                <div class="team-grids text-center">
                    <img src="~/assets/home/images/team4.jpg" class="img-fluid" alt="">
                    <div class="team-info">
                        <div class="caption">
                            <div class="social-icons-section text-center">
                                <a class="fac" href="#url">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a class="twitter" href="#url">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h4><a href="#team">Elizabeth</a></h4>
                <h5>Doctor</h5>
            </div>
        </div>
    </div>
</section>
<!--//team-sec-->
<section class="w3l-testimonials py-5" id="testimonials">
    <!-- main-slider -->
    <div class="container py-md-4 mb-md-0 mb-md-5 mb-4">
        <div class="heading text-center mx-auto">
            <h6 class="sub-titlehny">Testimonials</h6>
            <h3 class="hny-title text-center mb-5">What Our Clients Say! </h3>
            <div class="separatorhny"></div>

        </div>
        <div class="owl-testimonial owl-carousel owl-theme">
            <div class="item">
                <div class="slider-info">
                    <div class="img-circle">
                        <img src="~/assets/home/images/c1.jpg" class="img-fluid rounded" alt="client image">
                    </div>
                    <div class="message-info">
                        <span class="fa fa-quote-left mr-2"></span>
                        <div class="message">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium
                            officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis.
                        </div>
                        <div class="name">- Johnson</div>
                        <div class="desp">Patient ,City</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-info">
                    <div class="img-circle">
                        <img src="~/assets/home/images/c2.jpg" class="img-fluid rounded" alt="client image">
                    </div>
                    <div class="message-info">
                        <span class="fa fa-quote-left mr-2"></span>
                        <div class="message">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium
                            officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis.
                        </div>
                        <div class="name">- Sami Wade</div>
                        <div class="desp">Patient ,City</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-info">
                    <div class="img-circle">
                        <img src="~/assets/home/images/c1.jpg" class="img-fluid rounded" alt="client image">
                    </div>
                    <div class="message-info">
                        <span class="fa fa-quote-left mr-2"></span>
                        <div class="message">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium
                            officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis.
                        </div>
                        <div class="name">- Smith roy</div>
                        <div class="desp">Patient ,City</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>